#car-enemies{
    position: relative;
}
#car-enemies img{
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    width: 0.4rem;
    animation: moveDownEnemieEnemies 6s forwards;
}
@keyframes moveDownEnemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: 0;
        visibility: hidden;
    }
  }
@keyframes moveDownLeftEnemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: -2000px;
        visibility: hidden;
    }
  }
@keyframes moveDownRightEnemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: 2000px;
        visibility: hidden;
    }
  }
@keyframes moveDownRight800Enemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: 800px;
        visibility: hidden;
    }
  }
@keyframes moveDownRight600Enemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: 600px;
        visibility: hidden;
    }
  }
@keyframes moveDownLeft800Enemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: -800px;
        visibility: hidden;
    }
  }
@keyframes moveDownLeft600Enemies {
    0% {
      top: 0;
      left: 0;
    }
    100% {
        transform: scale(80);
        top: calc(700%);
        left: -600px;
        visibility: hidden;
    }
  }
